html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.backgroundImage {
    background-image: url(./Images/hdr-bg.jpg);
    height: 100px;
    width: 100%;

}

.searchJobTasks {
    color: white;
    padding: 14px;
    color: rgb(224, 224, 224);
    border-right: 2px solid rgb(80, 78, 78);
    border-left: 2px solid rgb(80, 78, 78);
    cursor: pointer;

}

.injuryPrevention {
    padding: 14px;
    border-right: 2px solid rgb(80, 78, 78);
    color: white;
}

.searchJobTasks:hover {

    background-color: black;
    background-image: url(./Images/arrow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;

}

.injuryPrevention:hover {
    background-color: black;
    background-image: url(./Images/arrow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.firstHeaderNav {
    margin: 0% 10%;
    justify-content: space-between;
}

.display {
    display: flex;

    flex-direction: column;
}

.displayflex {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.remedySearchJobInjuripreventionContainer {

    width: 50%;
    align-items: center;
    display: flex;
}

.devidIssa {
    margin-right: 5px;
    color: white;
    font-size: small;
}

.divIssaLogOutContainer {

    float: right;

}

.logOut {
    margin-top: 5px;
    font-size: 12px;
    border: none;
}

button {
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: lighter;
}


.secondHeaderNav {
    margin: 0% 10%;
}

.paddingMargin {
    margin-top: 16px;
    padding: 8px 18px 7.5px 18px;
}

.new {
    margin-left: auto;
    border: 1px solid grey;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(11, 159, 192);
}

.hover:hover {
    background-color: white;
    color: rgb(11, 159, 192);
    border-radius: 5px;
}

.bodyContainer {

    width: calc(100% - 20%);
    margin: auto;

}

.searchJobsTask {
    font-size: x-large;
    padding: 10px 0px;
}

.searchJobsAndTasksContainer {
    width: 90%;
}

.searchBar {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: hidden;
    height: 31.5px;
    width: 70%;
    margin: -1px;
    padding: 7px 8px;


}

.submit {
    color: black;
    padding: 0% 1% 1% 1%;
    margin: 0;
    border: none;
}

.search {
    color: white;
    height: 31.5px;
    text-align: center;
    width: 114px;
    background-color: grey;
    border: none;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: bold;
}

.search:active {
    background-color: #aaa;
}

.searchAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;

}

.checkboxContainer {
    padding-right: 2%;
}

.checkbox {
    font-size: small;
    font-weight: 500;
    accent-color: #ccc;
}

input.checkbox {
    margin: 11px 2px 20px 0px;
}

.reset {
    background-color: white;
    border: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.SearchAdvancedResetImageContainer {
    border: 1px solid #ccc;
    padding-left: 30px;
    border-top: hidden;
    border-bottom: hidden;
}


.gridmainContentContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    background-color: #ccc;
    border: 1px solid grey;
}

.gridItem {
    border: 1px solid grey;
    margin: 18px 30px;
    border-radius: 5px;
    background-color: white;
}

.gridItem:nth-child(3) {
    grid-column: 1 / -1;
}

.displaycolumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 16px 30px 16px;
}

.SbstaskProjectName {
    padding: 5px 1%;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 10px;
}

.riskAssissmentDetails {
    font-size: small;
    font-weight: 600;
}

.riskLevel {
    font-size: small;
    font-weight: 600;
    padding: 0px 25px 13px 15px;
}

.location {
    font-size: small;
    font-weight: 600;
}

.DepartmentDivisionSection {
    font-weight: 600;
    font-size: small;

}

.completedBetween {
    font-weight: 600;
    font-size: small;

}
.start-date{
    cursor: pointer;
}



.labelStatus {
    padding: 5px 1%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 7px;
    padding-right: 30px;


}

.customArrow {
    width: -webkit-fill-available;
    background-image: url('./Images/th-img.png');
    background-repeat: no-repeat no-repeat;
    background-position: right .7em top 50%;
    appearance: none;
    border: 1px solid grey;


}

.showCustomArrow {
    width: -webkit-fill-available;
    background-image: url('./Images/th-img.png');
    background-repeat: no-repeat no-repeat;
    background-position: right top 50%;
    appearance: none;
    border: 1px solid grey;
}

.show {
    width: 15%;
}

.showCustomArrowShow {
    width: 18%;
    padding-left: 5px;
}

.border-for-image {
    position: relative;
}

.border-for-image:after {
    position: absolute;
    top: 0;
    right: 30px;
    height: 30px;
    content: "";
    border-left: 1px solid grey;
}

.locationForCustomArrow {
    position: relative;
    width: 25%;
    margin-bottom: 15px;
}

.locationForCustomArrow:after {
    position: absolute;
    border-left: 1px solid grey;
    top: 4px;
    right: 30px;
    height: 28px;
    content: "";

}

.displayFlexJustifyContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marginForWhereOtherField {
    margin-right: 20%;
}

.gap {
    gap: 12.5%;
}

.greenBackgroundImage {
    background-image: url(./Images/green-color.jpg);
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid green;
    color: white;
    margin: 2px 20px;
    align-content: center;
    text-align: center;

}

.orangeBackgroundImage {

    background-image: url(./Images/orange-color.jpg);
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid orange;
    color: white;
    text-align: center;
    align-content: center;
    margin: 2px 20px;
}

.redgreenBackgroundImage {
    background-image: url(./Images/red-color.jpg);
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid red;
    color: white;
    text-align: center;
    align-content: center;
    margin: 2px 20px;
}

.sideScrollBar {
    border: 1px solid grey;
    overflow-y: scroll;
    height: 132px;
    line-height: 34px;
    cursor: pointer;
}


.imageSpanHover:hover {
    background-color: rgb(11, 159, 192);
}

.hazardTypeContainer {
    margin-left: auto;
    margin-left: auto;
    width: 40%;
    height: 145px;
    padding: 0px 25px 30px 12px;
}

.hazardType {
    font-size: small;
    font-weight: 500;
}

.labelStatusCountry {
    display: flex;
    flex-direction: column;
    text-align: left;

    padding: 8px 12%;
    border: 1px solid grey;
}

.location {
    float: left;
}

.labelStatusState {
    padding: 8px 12%;
    border: 1px solid grey;
}

.labelStatusCity {
    padding: 8px 12%;
    border: 1px solid grey;
}

.countryStateCityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paddingSelect {
    padding: 6px;
    margin-top: 3px;
}

.labelStatusDepartment {
    padding: 8px 12%;
    border: 1px solid grey;
}

.labelStatusDivision {

    padding: 8px 12%;
    border: 1px solid grey;
}

.labelStatusSection {
    padding: 8px 12%;
    border: 1px solid grey;
}

.ContainerFordisplayLocationContryStateCity {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.selectwidthheight {
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    margin: 3px 8% 1.3% 0%;
    border-radius: 3px;
}

.borderbottomPaddingLocation {
    border-bottom: 1px solid grey;

    padding: 5px 25px 0px 16px;
}

.borderbottomPaddingDepartmentDevisionSection {
    border-bottom: 1px solid grey;

    padding: 5px 25px 0px 16px;
}

.date-input {
    position: relative;
    display: inline-block;
    margin: 5px 8% 1.5% 0%;

}

input[type="date"] {
    background-image: url(.//Images/cal.png);
    background-repeat: no-repeat;
    background-position: 90%;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date-input input {
    padding: 5px 0%;
    padding-top: 8.5px;
    border: 1px solid grey;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.startLabel {
    background-color: #ccc;
    padding: 5px 10px 5px 6px;

    border: 1px solid grey;
    border-right: hidden;
    margin-right: -5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.applyChanges {
    color: white;
    border: 1px solid grey;
    background-color: grey;
    height: 35px;
    width: 18%;
    border-radius: 2px;
    font-weight: bold;

}

.applyChanges:active {
    background-color: #aaa;
}

.applyChanges:hover {
    cursor: pointer;
}

.completedBetweenContainer {
    padding: 5px 0% 0% 1%;
}

.first {
    color: grey;
    background-color: #ccc;
    border: 1px solid gray;
    padding-top: 3px;
    width: 40px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.first:active {
    background-color: #aaa;
}

.last:active {
    background-color: #aaa;
}

.arrowImagePadding {
    border: 1px solid grey;
    padding: 0% 2%;
    width: 18px;
    height: 17px;
    margin-left: 11px;
    margin-bottom: -4px;
    background-color: #ccc;
    cursor: pointer;
}

.spanArrowImagePadding {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-bottom: 2px;
}

.spanArrowImagePadding:active {
    background-color: #aaa;

}

.paraspanArrowImagePadding:active {
    background-color: #aaa;

}

.paraspanArrowImagePadding {
    border: 1px solid grey;
    margin: 0;
    display: inline;
    /* width: 20px; */
    padding: 0px 10px 1px 14px;
    border-radius: 5px;
    margin: 0px 14px 0px 14px;
}

.arrowImagePadding:active {
    background-color: #aaa;
}

.padding {
    padding: 1px 5px 1px 5px;
}

.last {
    color: grey;
    background-color: #ccc;
    border: 1px solid gray;
    width: 40px;
    height: 25px;
    /* margin-left: 12px; */
    padding-top: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.hover:hover {
    background-color: rgb(25, 96, 155);
    color: white;
    cursor: pointer;
}

.navHover:hover {
    background-color: white;
    color: rgb(43, 172, 204);
    cursor: pointer;

}

.hover:active {
    background-color: rgb(43, 172, 204);
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: #ccc;
    padding: 0px 20px 10px 20px;
    margin: 0;
}

.gridItem:nth-child(4) {
    grid-column: 1 / -1;
}

.alternativeColor>div:nth-child(even) {
    background-color: #ccc;

}

.firstToLast {
    cursor: pointer;
}

table,
th,
tr,
td {
    border-bottom: 1px solid grey;
}

tr {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: justify;
    border-bottom: hidden;
}

.gridItem:nth-child(5) {
    grid-column: 1 / -1;
}

.specificTableCoumnPadding {
    display: flex;
    padding: 0px 20px;
    border: none;
    font-weight: bold;
}

.tablegrid {
    margin: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

td,
th {
    padding: 5px;
    cursor: pointer;
}

th {
    padding: -0.5% 18px;
    font-size: small;
}

.tableImage {
    padding: 5px 10px 5px 0px;
}

.spanNameTaskPadding {
    padding: 1.5%;
}

.paddingTaskName {
    padding-left: 20px;
}

.ImageJobTaskName {
    background-image: url(./Images/rght-btn.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

.jobTaskNameDropDownArrow {
    margin: 3px 0px 3px 15px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
}

.background-image-div {
    width: 100%;
}