html, body{
    font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
    height: 100%;
    width: 100%;
    margin: 0;
    
}
div{
    display: block;

}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
   
}

.leftcontainer{
    background-image: url('10.png');
    background-color: gray;
     height: 100%;
     width: 250px;

}

.rightcontainer{
    background-image: url('bg_main.png');
    height: 100%;
    width: calc(100% - 250px);


}
.leftlogo{
    height: 175px;
    margin: 15px;
    margin-top: 60px;
}

.leftul{
    list-style-type: none;
    margin: 65px 0px 40px 28px;
    color: white;
    font-weight: lighter;
    background-size: cover;
    
}

li a:hover{
    background-color: black; 
    cursor: pointer;
}

li:hover{
    /* background-repeat: no-repeat;
    background-image: url('bg_menu_act.gif');
    background-position: 100%; */
    background: url('bg_menu_act.gif') no-repeat 100%;
    
}
.menu:active{
    background-color: transparent;

}
li a:active{
    background-color:grey;
}
span{
    color: rgba(255, 166, 0, 0.516);
}
footer{
    font-size: 10px;
    font-family:'Bebas Neue';
    font-weight: 400;
    margin: 1% 48px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
}
.rightcontainertext h1{
    font-size: 75px;
    /* font-weight: lighter; */
}
.rightcontainertext{
    margin: 138px 70px;
}
#p2{

    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    font-family: 'sans-serif';
    
}

#p1{
    font-weight: 300;
    font-size: 32px;
    font-family: 'Dosis';
}

.linescontainer{
    width: 63%;
    border-top: 2px solid rgba(255, 230, 0, 0.977);
    border-bottom: 2px solid rgba(255, 230, 0, 0.977);
}
#p3{
    font-size: 12px;
}
h1{
    margin: -25px 0px;
    font-family: 'Dosis';
    font-weight: 400
}
.menu a{
    padding: 2px 5px;
    border-radius: 5px;

}
.pLineContainer{
    width: 100%;
}
